{% extends "base.html" %}
{% block content %}

<h1 style="text-align:center;">Live Sign Detection</h1>

<div style="text-align:center;">
    <video id="video" width="500" height="350" autoplay></video>
    <canvas id="canvas" style="display:none;"></canvas>
</div>

<h2 style="text-align:center;">Prediction: <span id="result">Waiting...</span></h2>

<script>

const video = document.getElementById("video");
const canvas = document.getElementById("canvas");
const ctx = canvas.getContext("2d");
const result = document.getElementById("result");

navigator.mediaDevices.getUserMedia({video:true})
.then(stream=>{
    video.srcObject = stream;
})
.catch(err=>{
    result.innerText = "Camera error";
});


function predictFrame(){

    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    ctx.drawImage(video,0,0);

    // ROI coordinates
    let x = canvas.width/2 - 100;
    let y = canvas.height/2 - 100;
    let size = 200;

    // draw black ROI box
    ctx.strokeStyle = "black";
    ctx.lineWidth = 4;
    ctx.strokeRect(x,y,size,size);

    // crop ROI
    let imageData = ctx.getImageData(x,y,size,size);

    let tempCanvas = document.createElement("canvas");
    tempCanvas.width = size;
    tempCanvas.height = size;

    let tempCtx = tempCanvas.getContext("2d");
    tempCtx.putImageData(imageData,0,0);

    let dataURL = tempCanvas.toDataURL("image/jpeg");

    fetch("/predict",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({image:dataURL})
    })
    .then(res=>res.json())
    .then(data=>{
        result.innerText = data.prediction;
    });

}

setInterval(predictFrame,1000);

</script>

{% endblock %}