{% extends "base.html" %}
{% block content %}

<h1 style="text-align:center;">Live Sign Detection</h1>

<div style="display:flex; justify-content:center;">
    <canvas id="canvas" style="border:4px solid black; border-radius:20px;"></canvas>
    <video id="video" autoplay playsinline style="display:none;"></video>
</div>

<h2 style="text-align:center;">
Prediction: <span id="result">Waiting...</span>
</h2>

<script>

const video = document.getElementById("video");
const canvas = document.getElementById("canvas");
const ctx = canvas.getContext("2d");
const result = document.getElementById("result");

navigator.mediaDevices.getUserMedia({ video:true })
.then(stream=>{
    video.srcObject = stream;
})
.catch(err=>{
    result.innerText="Camera Error";
});

video.addEventListener("loadeddata", ()=>{
    detect();
});

function detect(){

    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    // mirror webcam
    ctx.save();
    ctx.scale(-1,1);
    ctx.drawImage(video,-canvas.width,0,canvas.width,canvas.height);
    ctx.restore();

    // ROI BOX SIZE (large for hand focus)
    const boxSize = 250;

    const x = canvas.width/2 - boxSize/2;
    const y = canvas.height/2 - boxSize/2;

    // draw black ROI box
    ctx.strokeStyle="black";
    ctx.lineWidth=4;
    ctx.strokeRect(x,y,boxSize,boxSize);

    // crop ROI
    const tempCanvas=document.createElement("canvas");
    tempCanvas.width=boxSize;
    tempCanvas.height=boxSize;

    const tempCtx=tempCanvas.getContext("2d");
    tempCtx.drawImage(canvas,x,y,boxSize,boxSize,0,0,boxSize,boxSize);

    // resize ROI → model size
    const resizeCanvas=document.createElement("canvas");
    resizeCanvas.width=128;
    resizeCanvas.height=128;

    const resizeCtx=resizeCanvas.getContext("2d");
    resizeCtx.drawImage(tempCanvas,0,0,128,128);

    const image=resizeCanvas.toDataURL("image/jpeg");

    fetch("/predict",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({image:image})
    })
    .then(res=>res.json())
    .then(data=>{
        result.innerText=data.prediction;
    })
    .catch(()=>{
        result.innerText="Error";
    });

    setTimeout(detect,500);
}

</script>

{% endblock %}