<script>
const video = document.getElementById("video");
const canvas = document.getElementById("canvas");
const ctx = canvas.getContext("2d");

navigator.mediaDevices.getUserMedia({ video: true })
.then(stream => {
    video.srcObject = stream;
    video.play();
})
.catch(err => {
    console.error("Camera error:", err);
});

video.addEventListener("loadeddata", () => {
    startDetection();
});

function startDetection(){
    setInterval(sendFrame, 800);
}

function sendFrame(){

    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    ctx.drawImage(video,0,0);

    const boxSize = 200;
    const x = canvas.width/2 - boxSize/2;
    const y = canvas.height/2 - boxSize/2;

    ctx.strokeStyle = "black";
    ctx.lineWidth = 4;
    ctx.strokeRect(x,y,boxSize,boxSize);

    const roi = ctx.getImageData(x,y,boxSize,boxSize);

    const tempCanvas = document.createElement("canvas");
    tempCanvas.width = boxSize;
    tempCanvas.height = boxSize;

    const tempCtx = tempCanvas.getContext("2d");
    tempCtx.putImageData(roi,0,0);

    const image = tempCanvas.toDataURL("image/jpeg");

    fetch("/predict",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({image:image})
    })
    .then(res=>res.json())
    .then(data=>{
        document.getElementById("prediction").innerText=data.prediction;
    })
    .catch(err=>{
        console.log(err);
    });
}
</script>